input{
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0rem 1.5rem;
    border: 3px solid var(--highlight-color);
    background: var(--background-color);
    border-radius: 20px;
}