.footer{
    background-color: var(--banner-color);
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    .img-footer{
        height: 2.5rem;
        opacity: 100%;
    }


}