.ux-ui{
    background-color: var(--ux-background);
}

.front-end{
    background-color: var(--front-background);
}

.back-end{
    background-color: var(--back-background);
}

.data-science{
    background-color: var(--data-background);
}

.cards-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ux-ui, .front-end, .back-end, .data-science{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    
    h3{
        font-size: 1.4rem;
        padding: 1rem 0rem 0.5rem 0rem;
        text-align: center;
    }

    .input-color{
        border: none;
        width: 5rem;
        height: 3rem;
        background-color: transparent;
        margin-left: auto;
    }
}
